# Auto detect text files and perform LF normalization
* text=auto
*.sh text eol=lf
*.[Qq]md linguist-detectable
*.[Rr]md linguist-detectable
*.html linguist-vendored
*.tex linguist-vendored
*.pdf linguist-vendored
